blinker==1.7.0
click==8.1.7
cmake==3.28.3
dlib==19.24.2
Flask==3.0.2
Flask-Cors==4.0.0
Flask-MySQL==1.5.2
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==3.1.1
imutils==0.5.4
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
mysqlclient==2.2.4
numpy==1.26.4
opencv-python==4.9.0.80
pygame==2.5.2
PyMySQL==1.1.0
scipy==1.12.0
SQLAlchemy==2.0.29
typing_extensions==4.11.0
Werkzeug==3.0.1
